name: Latest EAP Compatibility

on:
  schedule:
    - cron: '3 0 * * *'

jobs:
  compatibility:
    name: Ensure plugin compatibility against the latest EAP snapshot for both IDEA Community and IDEA Ultimate
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: ./gradlew buildPlugin

      - name: Verify IDEA compatibility
        id: verify
        uses: ChrisCarini/intellij-platform-plugin-verifier-action@v2.0.3
        with:
          # https://www.jetbrains.com/intellij-repository/snapshots/
          ide-versions: |
            idea:LATEST-EAP-SNAPSHOT

      - name: Get log file path and print contents
        run: |
          echo "The log file path is: ${{steps.verify.outputs.verification-output-log-filename}}";
          cat ${{steps.verify.outputs.verification-output-log-filename}}

      - name: Notify to Telegram
        uses: yanzay/notify-telegram@v0.1.0
        if: always()
        with:
          chat: ${{ secrets.TELEGRAM_TO }}
          token: ${{ secrets.TELEGRAM_TOKEN }}
          status: ${{ job.status }}
